body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  --light: rgb(242, 246, 130);
  --dark: rgb(105, 106, 104);
  display: inline-flex;
  flex-direction: column;
  padding: 1em;
  margin: 10px 10px 10px 10px;
  min-width: 225px;
  min-height: 415px;
  border: 1px solid;
}

.card--light {
  border-color: var(--dark);
  background-color: var(--light);
}

.card--dark {
  border-color: var(--light);
  background-color: var(--dark);
}

.card__img {
  max-width: 200px;
  align-self: center;
}

.container:hover .card {
  filter: blur(20px);
  opacity: 0.5;
}

.container .card:hover {
  filter: blur(0px);
  opacity: 1;
}

.card__btn {
  background-color: blueviolet;
  border: 1px solid white;
  color: white;
  height: 40px;
  min-width: 50px;
  padding: 10px;
  margin: 5px;
}
