body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  display: inline-flex;
  flex-direction: column;
  padding: 1em;
  vertical-align: top;
  margin: 10px 10px 10px 10px;
  min-width: 225px;
  min-height: 415px;
}

.light {
  border: 1px solid #ccc;
  background-color: lightyellow;
}

.dark {
  border: 1px solid black;
  background-color: grey;
}

.card__img {
  max-width: 200px;
  align-self: center;
}
